@page "/listado-camiones"

@inject HttpClient Http
@using Components;

<PageTitle>Camiones</PageTitle>

<h1>Listado camiones</h1>

<p>Listado de camiones agregados</p>

<EvaluacionFinal1.Components.ListadoCamiones></EvaluacionFinal1.Components.ListadoCamiones>
