@page "/listado-motocicletas"

@inject HttpClient Http
@using Components;

<PageTitle>Motocicletas</PageTitle>

<h1>Listado de motos</h1>

<p>Listado de motos agregadas</p>

<EvaluacionFinal1.Components.ListadoMotocicletas></EvaluacionFinal1.Components.ListadoMotocicletas>