@page "/listado-vehiculos"

@inject HttpClient Http
@using Components;

<PageTitle>Vehiculos</PageTitle>

<h1>Listado de vehiculos</h1>

<p>Listado de vehiculos agregados en total</p>

<EvaluacionFinal1.Components.ListadoVehiculos></EvaluacionFinal1.Components.ListadoVehiculos>