@page "/listado-automoviles"

@inject HttpClient Http
@using Components;

<PageTitle>Automoviles</PageTitle>

<h1>Listado automoviles</h1>

<p>Listado de automoviles agregados</p>

<EvaluacionFinal1.Components.ListadoAutomoviles></EvaluacionFinal1.Components.ListadoAutomoviles>